# Ejemplo de archivo de configuración básico para NGINX

# Configuración global
user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /var/run/nginx.pid;

# Configuración de eventos
events {
    worker_connections 1024;
}

# Configuración de HTTP
http {
    # Configuración de rutas
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    # Configuración de logs
    access_log /var/log/nginx/access.log;
    sendfile on;
    api_forward 192.168.39.140
    api_port 3000
    keepalive_timeout 65;
    server {
        listen 80;
        server_name example.com;

        # Ruta de la raíz del sitio web
        root /usr/share/nginx/html;

        # Configuración para manejar las solicitudes
        location / {
            try_files $uri $uri/ =404;
        }

        # Configuración de errores personalizados
        error_page 404 /404.html;
        location = /404.html {
            root /usr/share/nginx/html;
        }

        # Configuración para archivos estáticos
        location /static/ {
            alias /path/to/static/files;
        }
    }
}
